{% extends "base.html" %}

{% block content %}
<p>Honestly, it can be hard for me to free write like this. Especially when there's no clear goal of the writing but to meet a writing quota.</p>
<p>I won't lie, I'm not very confident in my coding abilities as a whole, even with the assistance of ChatGPT and Github Copilot. I think some part of me finds them difficult to trust, given the chance of them hallucinating.</p>
<p>It's kind of frustrating that I ended up spending a significant amount of time working on the two-page instructions only to have to pivot to the three-page version part of the way through.</p>
<p>Glad that things ended up working out. I think.</p>
{% endblock %}